php_value memory_limit 512M
    php_value post_max_size 150000M
    php_value upload_max_filesize 150000M
    php_value max_input_vars 1800
    php_value max_execution_time 300
    php_value max_input_time 300